.footer {
  background-color: #007bff;
  width: 100vw;
  padding: 2vh;
  text-align: center;
}

.icons a {
  margin: 0.5vh;
}

.ftr-body {
  margin: auto;
}

.ftr-body a {
  text-decoration: none;
  margin-left: 1vh;
  color: black;
}
