.box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3rem;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 25vh;
  height: 80vh;
  width: 80vw;
}

.box .container {
  margin: auto;
  display: flex;
  flex-direction: column;
  border: none;
}

.box .filler {
  display: flex;
  flex-direction: row;
  width: 30vw;
  margin-top: 20vh;
  height: 5vh;
}

.disableSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.watermark {
  position: absolute;
  opacity: 0.1;
  rotate: -45deg;
  margin-top: 33vh;
  margin-left: 15vw;
  font-size: 10vh;
}

.watermark.dark {
  position: absolute;
  opacity: 0.4;
  rotate: -45deg;
  margin-top: 33vh;
  margin-left: 15vw;
  font-size: 10vh;
}

.body {
  background-color: white;
  color: black;
}
