.slider {
  position: relative;
  height: 82vh;
}
.image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: "opacity 0.5s ease-in-out";
}

.navBtn {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
}

.navBtn button {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.navBtn button:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.dotsContainer {
  margin: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.streamerContainer {
  position: relative;
  height: 30px; /* adjust the height as needed */
  z-index: 999;
}

.streamer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  animation: streamer 5s linear infinite;
  background-color: blue;
}

.arrow {
  width: 10vw;
  height: 25vh;
}

@keyframes streamer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.streamer p {
  margin: 0;
  padding: 0 10px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.2rem;
}

.linearProgressRoot {
  width: 100%;
  height: 2px;
  margin: 0;
  padding: 0;
}

.linearProgressBar {
  animation: loading-animation 2s infinite;
}

.textBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  text-align: center;
}

.btnContainer button {
  opacity: 1;
}

@media screen and (max-device-width: 480px) {
  .navBtn {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
  }

  .navBtn button {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .navBtn button:hover {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .dotsContainer {
    margin: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  .streamerContainer {
    position: relative;
    height: 30px; /* adjust the height as needed */
    z-index: 999;
  }

  .streamer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    animation: streamer 5s linear infinite;
    background-color: blue;
  }

  .arrow {
    width: 10vw;
    height: 25vh;
  }

  @keyframes streamer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .streamer p {
    margin: 0;
    padding: 0 10px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .linearProgressRoot {
    width: 100%;
    height: 2px;
    margin: 0;
    padding: 0;
  }

  .linearProgressBar {
    animation: loading-animation 2s infinite;
  }

  .textBtn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btnContainer {
    text-align: center;
  }

  .btnContainer button {
    opacity: 1;
  }
}
